/*
Theme Name: i-craft
Theme URI: http://www.templatesnext.org/icraft/
Author: templatesnext team
Author URI: http://templatesnext.org/
Description: The i-craft responsive WooCommerce ecommerce multipupose theme packed with features like product carousels, unlimited color, boxed/wide layout, product search, optional login menu item and shopping cart in main navigation, multiple blog layout, etc. It comes with custom slider and option to use any 3rd party slider in any page or post through page/post meta option. Perfect for start-up ecommerce web sites.
Version: 1.1.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: One-Column, Two-Columns, Right-Sidebar, Custom-Colors, Custom-Menu,  Featured-Images, Flexible-Header, Full-Width-Template, Microformats, Post-Formats, Sticky-Post, Theme-Options, Threaded-Comments, Translation-Ready
Text Domain: i-craft

icraft WordPress Theme, Copyright 2014 TemplatesNext.org
icraft is distributed under the terms of the GNU GPL
*/


/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable Patterns
 * 3.0 - Basic Structure
 * 4.0 - custom genericons
 * 5.0 - Top Utility bar 
 * 6.0 - Header
 *   6.1 - Site Header
 *   6.2 - Navigation
 *   6.3 - Banner Slider
 * 7.0 - Featured Content
 * 8.0 - Content
 *   8.1 - Entry Header
 *   8.2 - Entry Meta
 *   8.3.1 - Entry Content
 *   8.3.2 - inner page header
 *   8.4 - Galleries
 *   8.5 - Post Formats
 *   8.6 - Attachments
 *   8.7 - Post/Paging Navigation
 *   8.8 - Author Bio
 *   8.9 - Archives
 *   8.10 - Search Results/No posts
 *   8.11 - 404
 *   8.12 - Comments
 *   8.13 - Multisite
 * 9.0 - Sidebar
 *   9.1 - Widgets
 * 10.0 - Footer
 * 11.0 - other
 * 12.0 - Media Queries
 * 13.0 - Print
 * ----------------------------------------------------------------------------
 */



/**
 * 1.0 Reset
 *
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * @see http://git.io/normalize
 * ----------------------------------------------------------------------------
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	overflow-y: scroll;
	/*
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	*/
}

html,
button,
input,
select,
textarea {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-family: "Roboto", Helvetica, sans-serif;
	color : #575757;
}

body {
	color: #575757;
	line-height: 1.8;
	margin: 0;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-size: 14px;
}

a {
	color: #95C837;
	text-decoration: none;
}

a:visited {
	color: #95C837;
}

a:focus {
	outline: 0;
}

a:active,
a:hover {
	color: #95C837;
	outline: 0;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: Roboto, Georgia, serif;
	line-height: 1.3;
}

h1 {
	font-size: 48px;
	margin: 33px 0;
}

h2 {
	font-size: 30px;
	margin: 25px 0;
}

h3 {
	font-size: 22px;
	margin: 22px 0;
}

h4 {
	font-size: 20px;
	margin: 25px 0;
}

h5 {
	font-size: 18px;
	margin: 30px 0;
}

h6 {
	font-size: 16px;
	margin: 36px 0;
}

address {
	font-style: italic;
	margin: 0 0 24px;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

p {
	margin: 0 0 24px;
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 14px;
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
}

pre {
	background: #f5f5f5;
	color: #666;
	font-family: monospace;
	font-size: 14px;
	margin: 20px 0;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

blockquote {
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	margin: 24px 40px;
}

blockquote blockquote {
	margin-right: 0;
}

blockquote cite,
blockquote small {
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}

blockquote em,
blockquote i {
	font-style: normal;
	font-weight: 300;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

small {
	font-size: smaller;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

dl {
	margin: 0 20px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 20px;
}

menu,
ol,
ul {
	margin: 16px 0;
	padding: 0 0 0 40px;
}

ul {
	list-style-type: square;
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

li > ul,
li > ol {
	margin: 0;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

form {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	padding-right: 2px; /* Don't cut off the webkit search cancel button */
	width: 270px;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-bottom: 1px solid #ededed;
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin: 0 0 20px;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

caption {
	font-size: 16px;
	margin: 20px 0;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}

del {
	color: #333;
}

ins {
	background: #fff9c0;
	text-decoration: none;
}

hr {
	background: url(images/dotted-line.png) repeat center top;
	background-size: 4px 4px;
	border: 0;
	height: 1px;
	margin: 0 0 24px;
}


.go-top,
input,
textarea,
.widget a,
.navigation a,
article a,
.comments-link,
#ft-post a,
.da-dots > span,
.sldprev,
.sldnext,
.nav-container li a,
.nav-container li a span,
.socialicon a {
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}


/**
 * 2.0 Repeatable Patterns
 * ----------------------------------------------------------------------------
 */

.genericon:before,
.menu-toggle:after,
.featured-post:before,
.date a:before,
.entry-meta .author a:before,
.format-audio .entry-content:before,
.comments-link a:before,
.tags-links a:first-child:before,
.categories-links a:first-child:before,
.edit-link a:before,
.attachment .entry-title:before,
.attachment-meta:before,
.attachment-meta a:before,
.comment-awaiting-moderation:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.bypostauthor > .comment-body .fn:before,
.error404 .page-title:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	vertical-align: text-bottom;
}

/* Clearing floats */
.clear:after,
.attachment .entry-header:after,
.site-footer .widget-area:after,
.entry-content:after,
.page-content:after,
.navigation:after,
.nav-links:after,
.gallery:after,
.comment-form-author:after,
.comment-form-email:after,
.comment-form-url:after,
.comment-body:after {
	clear: both;
}

.clear:before,
.clear:after,
.attachment .entry-header:before,
.attachment .entry-header:after,
.site-footer .widget-area:before,
.site-footer .widget-area:after,
.entry-content:before,
.entry-content:after,
.page-content:before,
.page-content:after,
.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after,
.gallery:before,
.gallery:after,
.comment-form-author:before,
.comment-form-author:after,
.comment-form-email:before,
.comment-form-email:after,
.comment-form-url:before,
.comment-form-url:after,
.comment-body:before,
.comment-body:after {
	content: "";
	display: table;
}

/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Form fields, general styles first. */
button,
input,
textarea {
	border: 1px solid #c7c7c7;
	font-family: inherit;
	padding: 5px;
	border-radius: 3px;
}

input,
textarea {
	color: #575757;
}

input:focus,
textarea:focus {
	border: 1px solid #95C837;
	outline: 0;
}

/* Buttons */
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	background: #95C837; /* Old browsers */
	border: none;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	padding: 11px 24px 11px;
	text-decoration: none;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
	background: #333333; /* Old browsers */
	outline: none;
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	background: #333333; /* Old browsers */
	border: none;
}

.post-password-required input[type="submit"] {
	padding: 7px 24px 4px;
	vertical-align: bottom;
}

.post-password-required input[type="submit"]:active {
	padding: 5px 24px 6px;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #7d7b6d;
}

:-moz-placeholder {
	color: #7d7b6d;
}

::-moz-placeholder {
	color: #7d7b6d;
}

:-ms-input-placeholder {
	color: #7d7b6d;
}

/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
	height: auto;
	max-width: 100%;
}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
}

/* Override the Twitter embed fixed width. */
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important;
}

/* Images */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
	margin: 5px 10px 5px 0;
}

img.alignright {
	margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
	margin: 5px 0 5px 10px;
}

img.aligncenter {
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
	color: #666;
	font-size: 12px;
	font-weight: 300;
}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol  {
	list-style-position: inside;
}


/**
 * 3.0 Basic Structure
 * ----------------------------------------------------------------------------
 */
 
.site {
	background-color: #fff;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	margin: 0 auto;
	width: 100%;
}

.site-main {
	position: relative;
	max-width: 1264px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 48px;
	padding-bottom: 48px;
}

.site-main .sidebar-container {
	display: block;
	float: left;
	width: 24%;
	z-index: 1;
	position: relative;
}

.site-main .sidebar-inner {
	margin: 0 auto;
	max-width: 1200px;
	display: block;
	padding-left: 32px;
}


.nx-leftsidebar .site-main .sidebar-container {
}

.nx-leftsidebar .site-main .sidebar-inner {
	padding-left: 0px;
	padding-right: 32px;	
}

.nx-leftsidebar.sidebar .site-content {
	float: right;
}

.widget_product_search form#searchform input#s {
	width: 150px;
}

.widget_product_search form#searchform input#searchsubmit {
	padding: 6px 16px;
	margin-left: 6px;
}

/**
 * 4.0 generiicon sizes and shapes
 * ----------------------------------------------------------------------------
 */

.socico {
	border-radius: 4px;
	height: 20px;
	width: 20px;
	background-color: rgba(265,265,265,0.2);
	color: rgba(265,265,265,0.8);
	line-height: 20px;
	text-align: center;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}

.topbarico {
	height: 20px;
	width: 20px;
	color: rgba(265,265,265,0.8);
	text-align: center;
	line-height: 36px;
	display: inline-block;
}


/**
 * 5.0 Utility bar
 * ----------------------------------------------------------------------------
 */

.ubarinnerwrap {
	margin: 0px auto;
	max-width: 1264px;
	padding: 0% 32px;
}
.utilitybar {
	display: block;
	border-bottom: 1px solid #e7e7e7;
	height: 36px;
	line-height: 32px;
	padding: 0px;
	vertical-align: middle;
	
	background-color: #676767;
	color: #FFFFFF;
}

.socialicons {
	margin: 0px;
	padding: 0px;
	display: block;
	float: right;
}

.socialicons ul.social {
	margin: 0px;
	padding: 0px;
	list-style-type: none;	
}

.socialicons ul.social li {
	margin: 5px 6px 0px 0px;
	padding: 0px;
	list-style-type: none;
	display: block;
	float: left;
	height: 20px;
	width: 20px;
}

.socialicons ul.social li a,
.socialicons ul.social li a:visited {
	text-decoration: none;
	color: #FFF;
}

.socialicons ul.social li a:hover {
	text-decoration: none;
}

.socialicons ul.social li a:hover .socico {
	background-color: rgba(265,265,265,0.1);
	font-size: 12px;
	color: rgba(265,265,265,1);	
}

.topphone {
	display: block;
	float: left;
	margin-right: 16px;
	color: #8b8b8b;
	font-size: 12px;
	
	color: #ffffff;
}

.topphone .topbarico {
	padding-top: 0px;
	line-height: 32px;	
}


/**
 * 6.0 Header
 * ----------------------------------------------------------------------------
 */

/**
 * 6.1 Site Header
 * ----------------------------------------------------------------------------
 */
 
.headerwrap {
	display: block;
	min-height: 88px;
	background-color: #FFF;
}

.site-header {
	position: relative;
	display: block;
	clear: both;
	min-height: 88px;
	border-bottom: 1px solid #e7e7e7;
	z-index: 3001;
	background-color: #FFF;
	opacity: 1;	
}

.fixeddiv {
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: rgba(255,255,255,1);
	left: 0px;
	right: 0px;
	animation:thedrop 1s 1;
	-moz-animation:thedrop 1s 1;
	-webkit-animation:thedrop 1s 1;	
}

.site-header .home-link {
	color: #141412;
	display: block;
	float: left;
	min-width: 80px;
	max-width: 420px;
	margin: 0 auto;
	min-height: 80px;
	padding: 0 0px 0px 32px;
	text-decoration: none;
	vertical-align: middle;
}

.site-header .home-link span {
	height: 80px;
	vertical-align: middle;
	display: table-cell;
	padding-top: 10px;
}

.site-header .home-link img {
	max-height: 64px;
	max-width: 280px;
}

.site-header .site-title:hover {
	text-decoration: none;
}

.site-title {
	font-size: 32px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 16px 0px 0px 0px;
}

.site-description {
	margin: 0;
	font-weight: 300;
	margin-top: 4px;
	font-size: 12px;
	color: #777;
}


.headerwrap a.home-link {
	overflow: hidden;
}
.headerwrap .headerinnerwrap > span#site-titlendesc {
	display: block;
	float: left;
}
.headerwrap .navbar {
	display: block;
	float: left;
	padding-left: 20px;
}





/**
 * 6.2 Navigation
 * ----------------------------------------------------------------------------
 */

.main-navigation {
	display: block;
	float: left;
	margin: 0 auto;
	min-height: 88px;
	position: relative;
}

ul.nav-container,
.nav-container > ul {
	margin: 0;
	padding: 0 20px 0 0;
}

.nav-container li {
	display: inline-block;
	position: relative;
	padding: 0px 20px;
}

.nav-container li a {
	color: #545454;
	display: block;
	line-height: 1;
	padding: 38px 0px;
	text-decoration: none;
	position: relative;
}

.nav-container li a span {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 2px;
	background: transparent; /* variable color */
}

.nav-container ul ul li {
	padding: 0px;
}

.nav-container ul ul li a {
	padding: 15px 20px;
}

.nav-container .current_page_item > a > span,
.nav-container .current_page_ancestor > a > span,
.nav-container .current-menu-item > a span,
.nav-container .current-menu-ancestor > a > span,
.nav-container li a:hover span {
	background-color: #95C837; /* variable color */
}

.nav-container li:hover > a,
.nav-container li a:hover {
	color: #95C837;
}

/* variable color */
.nav-container .sub-menu,
.nav-container .children {
	background-color: #FFFFFF;
	border: 1px solid #e7e7e7;
	border-top: 2px solid #95C837; /* variable color */
	display: none;
	padding: 0;
	position: absolute;
	left: 20px;
	z-index: 99999;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	top: 86px;
}

.nav-container .sub-menu ul,
.nav-container .children ul {
	border-left: 0;
	left: 100%;
	top: 0px;
	margin-top: -2px;
}

ul.nav-container ul a,
.nav-container ul ul a {
	margin: 0;
	width: 200px;
	border-top: 1px solid #e7e7e7;
	padding: 10px 16px;
}

ul.nav-container ul li:first-child a,
.nav-container ul ul li:first-child a {
	border: none;
}

ul.nav-container ul a:hover,
.nav-container ul ul a:hover {
	background-color: #f4f4f4;
	color: #474747;
}

.nav-container .current_page_item > a,
.nav-container .current_page_ancestor > a,
.nav-container .current-menu-item > a,
.nav-container .current-menu-ancestor > a {
	color: #95C837;
	color: #545454;	
}

.menu-toggle {
	display: none;
}

/* Navbar */
.navbar {
	margin: 0 auto;
	max-width: 1264px;
}

.site-header .search-form {
	position: absolute;
	right: 20px;
	bottom: 8px;
}

.site-header .search-field {
	background: transparent;
	border: none;
	cursor: pointer;
	height: 37px;
	margin: 3px 0;
	padding: 0 0 0 34px;
	position: relative;
	-webkit-transition: width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
	width: 0;
	z-index: 1001;
}

.searchico {
	display: none;
}

.site-header .searchico {
	display: block;
	position: absolute;
	left: 4px;
	top: 10px;
	font-size: 24px;
	z-index: 1000;
	color: #999;
}

.site-header .searchico:before {
	font-size: 24px;
}

.site-header .search-field:focus {
	background-color: #fff;
	border: 1px solid #e7e7e7;
	cursor: text;
	outline: 0;
	width: 160px;
	border-radius: 4px;
	background: transparent;	
}

/* Top bar transform */

.site-header.fixeddiv {
	min-height: 65px;
}

.site-header.fixeddiv .home-link {
	color: #141412;
	display: block;
	float: left;
	min-height: 56px;
	height: 64px;
	padding: 0px 32px;
}

.site-header.fixeddiv .home-link span {
	height: 60px;
	padding-top: 6px;
}

.site-header.fixeddiv .home-link img {
	max-height: 48px;
	max-width: 280px;
	margin-top: 0px;
}

.fixeddiv .site-title {
	font-size: 26px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 10px 0 0px;
}

.fixeddiv .site-description {
	font: 300 normal 12px "Open Sans", Helvetica, sans-serif;
	margin: 0;
}

.fixeddiv .main-navigation {
	min-height: 56px;
}

.fixeddiv .nav-container > ul > li > a {
	font-size: 14px;
	padding: 24px 0px;
}

.fixeddiv .nav-container .sub-menu,
.fixeddiv .nav-container .children {
	position: absolute;
	z-index: 99999;
	top: 60px;
}

.fixeddiv .nav-container .sub-menu ul,
.fixeddiv .nav-container .children ul {
	top: 0px;
	margin-top: -2px;
}

/* Navbar */
.fixeddiv .navbar {
}

.headerinnerwrap {
	max-width: 1264px;
	position: relative;
	margin: 0px auto;
}

.fixeddiv .headerinnerwrap {
	max-width: 1200px;
}

.site-header .headerinnerwrap .search-form {
	top: 32px;
	bottom: auto;	
}

.site-header.fixeddiv .headerinnerwrap .search-form {
	top: 16px;
	bottom: auto;	
}

/**
 * 6.3 Banner slider
 * ----------------------------------------------------------------------------
 */
 
.ibanner {
	display: block;
	width: 100%;
	background-color: #95C837;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.da-img {
}

.ibanner ul,
.ibanner ul li {
	margin: 0px;
	padding: 0px;
}

.ibanner .da-slider {
	z-index: 0;
	position: relative;
	text-align: center;
	max-height: 600px;
}

.ibanner .da-slider .nx-slider .da-img img {
	width: 100%;
}

.slider-content-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px auto;	
	z-index: 2;
	text-align: center;
	color: #FFFFFF;
	left: 0px;
	right: 0px;
	top: 0px;
}

.nx-slider-container {
	width: 100%;
	height: auto;
	margin: 0px auto;
	max-width: 1264px;
	padding: 64px;
	padding-bottom: 72px;
	text-align: left;
}

.ibanner .da-slider .owl-pagination {
	width: 100%;
	z-index: 3;
	position: absolute;
	bottom: 16px;
}

.ibanner .da-slider .owl-buttons {
	position: absolute;
	top: 48%;
	width: 100%;
	z-index: 3;	
}

.ibanner .da-slider h2,
.ibanner .da-slider p,
.ibanner .da-slider .da-link {
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}

.ibanner .da-slider h2 {
	font-size: 28px;
	font-weight: 700;
	padding: 6px 12px;
	color: #FFF;
	background-color: rgba(0,0,0,0.4);
	width: auto;
	max-width: 50%;
	margin-bottom: 12px;
	position: relative;
	display: inline-block;
	margin-left: 120px;
	transition-delay: .2s;
	opacity: 0;	
}

.ibanner .da-slider p {
	color: #FFF;
	background-color: rgba(0,0,0,0.3);
	padding: 6px 12px;
	width: auto;
	max-width: 50%;
	margin-bottom: 32px;
	position: relative;
	margin-left: 120px;	
	transition-delay: .6s;
	opacity: 0;		
}

.ibanner .da-slider .da-link {
	background-color: #333;
	color: #FFF;
	padding: 16px 32px;
	border-radius: 3px;
	position: relative;
	margin-left: 120px;
	transition-delay: .9s;	
	opacity: 0;
	text-decoration: none;
}

.ibanner .da-slider .owl-item.active h2 {
	margin-left: 0px;
	opacity: 1;		
}

.ibanner .da-slider .owl-item.active p {
	margin-left: 0px;
	opacity: 1;	
}

.ibanner .da-slider .owl-item.active .da-link {
	margin-left: 0px;	
	opacity: 1;	
}

.sldprev,
.ibanner .da-slider .owl-prev {
	display: block;
	height: 56px;
	width: 32px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: -32px;
	top: 0px;
	border-radius: 0px;
	color: #999;
	line-height: 56px;
	z-index: 101;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;	
}

.sldnext,
.ibanner .da-slider .owl-next {
	display: block;
	height: 56px;
	width: 32px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	right: -32px;
	top: 0px;
	border-radius: 0px;	
	color: #999;
	line-height: 56px;
	z-index: 101;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;	
}

.ibanner .da-slider .owl-next span.genericon:before,
.ibanner .da-slider .owl-prev span.genericon:before {
	line-height: 56px;
}

.da-arrows{
	display: none;
}

.sldprev:hover,
.sldnext:hover,
.sldprev:before,
.sldnext:before,
.ibanner .da-slider .owl-prev:hover,
.ibanner .da-slider .owl-next:hover,
.ibanner .da-slider .owl-prev:before,
.ibanner .da-slider .owl-next:before {
	text-decoration: none;
	color: #CCC;
}

.sldprev:before,
.sldnext:before,
.ibanner .da-slider .owl-prev:before,
.ibanner .da-slider .owl-next:before {
	margin-top: 12px;
}

.ibanner .sldprev,
.ibanner .sldnext,
.ibanner .da-slider .owl-prev,
.ibanner .da-slider .owl-next {
	opacity: 0;
}

.ibanner:hover .sldprev,
.ibanner:hover .da-slider .owl-prev {
	opacity: 1;
	left: 0px;
}

.ibanner:hover .sldnext,
.ibanner:hover .da-slider .owl-next {
	opacity: 1;
	right: 0px;
}

.da-dots span.da-dots-current {
	background-color: #95C837;
}


/* Styling Pagination*/

.ibanner .da-slider .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.ibanner .da-slider .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #000000;
}

.ibanner .da-slider .owl-controls .owl-page.active span,
.ibanner .da-slider .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

.other-slider {
	text-align: center;
}


/**
 * 6.0 featured Content
 * ----------------------------------------------------------------------------
 */

#featured {
	display: block;
	clear: both;
	padding-top: 32px;
}

#ft-post {
}

#ft-post article {
	display: block;
	float: left;
	width: 25%;
}

#ft-post article .articlewrap {
	display: block;
	margin: 0px;
}

#ft-post .entry-header,
#ft-post .entry-content,
#ft-post .entry-summary,
#ft-post .entry-meta {
	max-width: 1040px;
	width: 100%;
	padding: 0 0px 0 0px;
}

#ft-post .entry-header > .entry-thumbnail {
	position: relative;
	margin-bottom: 10px;
}

#ft-post .entry-header > .entry-thumbnail img {
	margin-bottom: 0px;
}

#ft-post .entry-thumbnail > .comments-link {
	display: block;
	position: absolute;
	height: 32px;
	line-height: 32px;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	left: 0px;
	bottom: 0px;
}

#ft-post .entry-thumbnail > .comments-link a,
#ft-post .entry-thumbnail > .comments-link a:visited {
	color: #333;
	padding: 0px 6px;
}

#ft-post .entry-thumbnail:hover > .comments-link {
	background-color: #95C837;
}

#ft-post .entry-thumbnail:hover > .comments-link a {
	color: #FFFFFF;
}

.entry-header h1.entry-title {
	font: 400 normal 22px "Open Sans", Helvetica, sans-serif;
	line-height: 32px;
	color: #575757;
}

.entry-header h1.entry-title a,
.entry-header h1.entry-title a:visited {
}

.entry-header h1.entry-title a:hover {
	color: #95C837;
	text-decoration: none;
}

.entry-header > .entry-meta a,
.entry-header > .entry-meta a:visited {
	color: #999;
	font-weight: 300;
}

.entry-header > .entry-meta a:hover {
	color: #95C837;
	text-decoration: none;	
}

#main.site-main .entry-summary > p {
}

.featured-area .entry-summary > p > a.moretag,
.featured-area .entry-summary > p > a.moretag:visited {
	display: block;
	clear: both;
	width: 100px;
	background-color: #eaeaea;
	color: #666;
	padding: 6px 0px;
	text-align: center;
	border-radius: 3px;
	margin-top: 16px;
	float: right;
}

.featured-area .entry-summary > p > a.moretag:hover {
	background-color: #95C837;
	color: #FFFFFF;
	text-decoration: none;
}

/**
 * 8.0 Content
 * ----------------------------------------------------------------------------
 */
 
.content-area,
.featured-area {
	padding-left: 32px;
	padding-right: 32px;
} 

.sidebar .content-area {
}

.sidebar .content-area:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}

.site-content {
	width: 100%;
}

.sidebar .site-content {
	display: block;
	float: left;
	width: 75%;
}

.sidebar .nosidebar .site-content {
	display: block;
	width: 100%;
}

.hentry {
	padding: 0px 0 48px 0px;
}

.single .hentry {
	padding: 0px;	
}

.entry-header,
.entry-content,
.entry-summary,
.entry-meta {
	margin: 0 auto;
	width: 100%;
	text-wrap: normal;
	word-wrap:break-word;	
}

.sidebar .entry-header,
.sidebar .entry-content,
.sidebar .entry-summary,
.sidebar .entry-meta {
	max-width: 100%;
	padding: 0px 0px 0px 0px;
}

.site-content .post {
	display: block;
	clear: both;
}

.site-content .post:before,
.site-content .post:after {
    content:"";
    display:table;
}
.site-content .post:after {
    clear:both;
}

.search-results .site-content .post .meta-img,
.archive .site-content .post .meta-img,
.site-content .blog-columns .post .meta-img {
	display: block;
	float: left;
	width: 50%;
	padding-right: 32px;
}

.archive .site-content .post .meta-img img,
.search-results .site-content .post .meta-img img {
	width: 100%;
}

.site-content .post .meta-img .entry-thumbnail {
	position: relative;
}

.site-content .post .meta-img .entry-nothumb {
	position: relative;
}

.entry-nothumb .noimg-bg {
	display: none;
}

.site-content .entry-thumbnail .stickyonimg,
.site-content .entry-thumbnail .dateonimg {
	display: block;
	position: absolute;
	left: 12%;
	top: 0px;
	width: 64px;
	height: 72px;
	background-color: #95C837;
	color: #FFFFFF;
	text-align: center;
}

.site-content .entry-nothumb .stickyonimg,
.site-content .entry-nothumb .dateonimg {
	display: block;
	position: absolute;
	left: 12%;
	top: 0px;
	width: 64px;
	height: 72px;
	background-color: #95C837;
	color: #FFFFFF;
	text-align: center;
}

.entry-nothumb .stickyonimg span:before,
.entry-thumbnail .stickyonimg span:before {
	font-size: 32px;
	padding-top: 16px;
}

.site-content .dateonimg span.pdate {
	display: block;
	clear: both;
	font-size: 40px;
	font-weight: 700;
	position: relative;
	line-height: 1.1;
}

.site-content .dateonimg span.pmonth {
	display: block;
	clear: both;
	font-size: 14px;
	font-weight: 400;
	position: relative;	
}

.site-content .post .post-mainpart {
	display: block;
	float: left;
	width: 50%;
}

.single .site-content .post .post-mainpart {
	width: 100%;
}

.site-content .post .meta-img {
	float: none;
	margin-top: 8px;
	width: 100%;
	padding-right: 0px;
}

article .post-mainpart > .entry-content {
	padding-right: 0px;
}

.site-content .post .meta-img.no-image-meta+.post-mainpart {
	width: 100%;
}

.site-content .post .meta-img.no-image-meta+.post-mainpart .entry-content {
	padding-right: 0%;
}

.site-content .post .meta-img.no-image-meta {
	display: none;
}

.meta-img.no-image-meta {
	display: none;
}


body.onecol-blog .site-content .blog-columns .post {
	border-bottom: 1px solid #E0E0E0;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 32px;	
}
/*
.search-results .site-content .entry-nothumb .dateonimg,

.search-results .site-content .entry-thumbnail .dateonimg,
.search-results .site-content .entry-nothumb .stickyonimg {
	display: none;
}
*/

.search-results .content-area .site-content .itrans-slider,
.search-results .content-area .site-content .page .dateonimg, 
.search-results .content-area .site-content .portfolio .dateonimg {
	display: none;
}


/**
 * 8.1 Entry Header
 * ----------------------------------------------------------------------------
 */

.sidebar .entry-header .entry-meta {
	padding: 0;
}

.entry-thumbnail img {
	display: block;
	margin: 0 auto 10px;
}

.single .entry-thumbnail img {
	width: 100%;
}

.entry-header {
	margin-bottom: 30px;
}

.blog-columns .entry-header {
	margin-bottom: 16px;
}

.entry-title {
	font-weight: normal;
	margin: 0 0 5px;
}

.entry-title a {
	color: #141412;
}

.entry-title a:hover {
	color: #373737;
}


/**
 * 8.2 Entry Meta
 * ----------------------------------------------------------------------------
 */

.entry-meta {
	clear: both;
	font-size: 12px;
}

.blog-columns .entry-meta {
	margin-bottom: 24px;
}

.blog-columns .date a:before,
.blog-columns .entry-meta .author a:before,
.blog-columns .tags-links a:first-child:before,
.blog-columns .categories-links a:first-child:before,
.blog-columns .edit-link a:before {
	font: normal 14px/1 Genericons;
	margin-right: 4px;
}

.single .entry-meta {
	background-color: #fff;
	font-size: 14px;
	font-weight: 400;
	padding: 12px 16px!important;
	margin: 16px 0;
	border: 1px solid #e7e7e7;	
}

.entry-meta a {
	color: #95C837;
}

.blog-columns .comments-link a,
.blog-columns .comments-link a:visited {
	color: #999;
}

.entry-meta a:hover {
	color: #bc360a;
	color: #333;
	text-decoration: none;
}

.entry-meta > span {
	margin-right: 20px;
}

.entry-meta > span:last-child {
	margin-right: 0;
}

.featured-post:before {
	content: "\f308";
	margin-right: 2px;
}

.entry-meta .date a:before {
	content: "\f303";
}

.comments-link a:before {
	content: "\f300";
	margin-right: 2px;
	position: relative;
	top: -1px;
}

.entry-meta .author a:before {
	content: "\f304";
	position: relative;
	top: -1px;
}

.categories-links a:first-child:before {
	content: "\f301";
}

.tags-links a:first-child:before {
	content: "\f302";
	position: relative;
	top: -1px;
}

.edit-link a:before {
	content: "\f411";
	position: relative;
	top: -1px;
}

.single-author .entry-meta .author,
.sticky.format-standard .entry-meta .date,
.sticky.format-audio .entry-meta .date,
.sticky.format-chat .entry-meta .date,
.sticky.format-image .entry-meta .date,
.sticky.format-gallery .entry-meta .date {
	display: none;
}

.moretag {
	display: block;
	padding: 12px 0px 0px 0px;
	color: #ffffff;
	font-weight: bold;
}

.moretag:hover {
	text-decoration: none;
}

/**
 * 8.3.1 Entry Content
 * ----------------------------------------------------------------------------
 */

.entry-content {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	word-wrap: break-word;
}

.page .site-content {
}

.entry-content a,
.comment-content a {
	color: #95C837;
}

.entry-content a:hover,
.comment-content a:hover {
}

.entry-content blockquote {
	font-size: 16px;
}

.entry-content blockquote cite,
.entry-content blockquote small {
	font-size: 16px;
}

.entry-content img.alignleft,
.entry-content .wp-caption.alignleft {
}

.entry-content img.alignright,
.entry-content .wp-caption.alignright {
}

footer.entry-meta {
	margin-top: 24px;
}

.format-standard footer.entry-meta {
	margin-top: 0;
}

/* Page links */
.page-links {
	clear: both;
	font-size: 16px;
	font-weight: normal;
	line-height: 2.2;
	margin: 20px 0;
	text-transform: uppercase;
}

.page-links a,
.page-links > span {
	background: #fff;
	border: 1px solid #fff;
	padding: 5px 10px;
	text-decoration: none;
}

.format-status .entry-content .page-links a,
.format-gallery .entry-content .page-links a,
.format-chat .entry-content .page-links a,
.format-quote .entry-content .page-links a,
.page-links a {
	background: #95C837;
	border: 1px solid #95C837;
	color: #fff;
}

.format-gallery .entry-content .page-links a:hover,
.format-audio .entry-content .page-links a:hover,
.format-status .entry-content .page-links a:hover,
.format-video .entry-content .page-links a:hover,
.format-chat .entry-content .page-links a:hover,
.format-quote .entry-content .page-links a:hover,
.page-links a:hover {
	background: #fff;
	color: #95C837;
}

.format-status .entry-content .page-links > span,
.format-quote .entry-content .page-links > span {
	background: none;
}

.page-links .page-links-title {
	background: transparent;
	border: none;
	margin-right: 20px;
	padding: 0;
}

/* Mediaelements */
.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls {
	background: #220e10;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #fff;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #ea9629;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: #595959;
}

.hentry .mejs-controls .mejs-time-rail span,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	border-radius: 0;
}

/**
* 8.3.2 Page styling
*------------------------------------------------------------------------------
*/

.site-content > .page.type-page {
}

.iheader {
	display: block;
	height: 100px;
	width: 100%;
	text-align: center;
	background-color: #95C837;
}
.titlebar {
	display: block;
	width: 100%;
	max-width: 1264px;
	padding-left: 32px;
	padding-right: 32px;
	margin: 0px auto;
}

.titlebar h1 {
	color: #FFFFFF;
	font-size: 26px;
	line-height: 100px;
	margin: 0px;
	text-align: left;
	font-weight: 400;
}

.iheader.front {
	display: block;
	height: 100px;
	background-color: #95C837;
}

.iheader.front .titlebar {
	text-align: left;
	padding: 0px 32px;
}

.iheader.front .titlebar h1 {
	display: inline-block;
	font-size: 32px;
	margin: 0px;
}

.iheader.front .titlebar h2 {
	display: block;
	font-size: 14px;
	line-height: 1;
	padding: 0px;
	margin: 0px;
	font-weight: 400;
	color: #FFF;
}

.iheader .nx-breadcrumb {
	display: block;
	float: right;
	line-height: 100px;
	padding: 0px;
	margin: 0px;
	font-weight: 400;
	color: #FFF;
}

.iheader h1 {
	display: block;
	float: left;
	font-size: 32px;
	line-height: 100px;
	padding: 0px;
	margin: 0px;
	font-weight: 500;
	color: #FFF;
}

.woocommerce-page .site-content {
	padding: 0% 0%;	
}

.woocommerce-page .product {
	padding-top: 32px;
}

.iheader .nx-breadcrumb a {
	color: #FFF;
}

.iheader .nx-breadcrumb a:hover {
	color: #FFF;
	text-decoration: none;
}


/**
 * 8.4 Galleries
 * ----------------------------------------------------------------------------
 */
 


.gallery {
	margin-bottom: 20px;
	margin-left: -4px;
}

.gallery-item {
	float: left;
	margin: 0 12px 12px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
	display: table;
	margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
	text-align: center;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
	line-height: 1.3;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 2px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	-webkit-transition: opacity 400ms ease;
	transition:         opacity 400ms ease;
	width: 100%;
}

.gallery-caption:before {
	box-shadow: 0 -10px 15px #000 inset;
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


/**
 * 8.5 Post Formats
 * ----------------------------------------------------------------------------
 */

/* Aside */
.format-aside {
	background-color: #ececec;
	padding: 32px;
	margin-bottom: 32px;
}

.single .format-aside {
	background-color: #FFFFFF;
}

.blog .format-aside:first-of-type,
.single .format-aside:first-of-type,
.format-aside + .format-aside,
.format-aside + .format-link,
.format-link + .format-aside {
	box-shadow: inset 0 2px 2px rgba(173, 165, 105, 0.2);
}

.format-aside .entry-meta {
	margin-top: 0;
}

.format-aside blockquote {
	font-size: 100%;
	font-weight: normal;
}

.format-aside cite {
	font-size: 100%;
	text-transform: none;
}

.format-aside cite:before {
	content: "\2014";
	margin-right: 5px;
}

/* Audio */
.format-audio {
	background-color: #ececec;
	padding: 32px;
	margin-bottom: 32px;	
}

.single .format-audio {
	background-color: #FFFFFF;
}

.format-audio .entry-title {
	font-size: 28px;
	font-weight: bold;
}

.format-audio .entry-content:before {
	content: "\f109";
	float: left;
	font-size: 64px;
	position: relative;
	top: 4px;
}

.format-audio .entry-content a,
.format-audio .entry-meta a,
.format-audio .entry-content a:hover,
.format-audio .entry-meta a:hover {
	color: #575757;
}

.format-audio .audio-content {
	background: url(images/dotted-line.png) repeat-y left top;
	background-size: 4px 4px;
	float: right;
	padding-left: 35px;
	width: 80%;
	width: -webkit-calc(100% - 85px);
	width:         calc(100% - 85px);
}

.format-audio .wp-audio-shortcode {
	height: 30px !important; /* Override mediaelement.js style */
	margin: 20px 0;
	max-width: 400px !important; /* Override mediaelement.js style */
}

.format-audio audio {
	max-width: 100% !important; /* Avoid player width overflow. */
}

/* Chat */
.format-chat {
	background-color: #ececec;
	padding: 32px;
	margin-bottom: 32px;	
}

.single .format-chat {
	background-color: #FFFFFF;
}

.format-chat .entry-title {
	font-size: 28px;
	font-weight: bold;
}

.format-chat .entry-meta a,
.format-chat .entry-content a {
	color: #575757;
}

.format-chat .entry-meta .date a:before {
	content: "\f108";
	margin-right: 2px;
}

.format-chat .entry-meta .author {
	display: none;
}

.format-chat .chat {
	margin: 0;
}

.format-chat .chat .chat-timestamp {
	color: #722d19;
	float: right;
	font-size: 12px;
	font-weight: normal;
	margin: 5px 10px 0;
}

.format-chat .chat .fn {
	font-style: normal;
}

/* Gallery */
.format-gallery {
	background-color: #ececec;
	padding: 32px;
	margin-bottom: 32px;	
}

.single .format-gallery {
	background-color: #FFFFFF;
}

.format-gallery .entry-header {
	margin-bottom: 15px;
}

.format-gallery .entry-title {
	font-size: 50px;
	font-weight: 400;
	margin: 0;
}

.format-gallery .entry-meta a,
.format-gallery .entry-content a {
	color: #575757;
}

/* Image */

.format-image {
	padding: 32px;
	margin-bottom: 32px;	
}
.format-image .entry-title {
	font-size: 28px;
	font-weight: bold;
}

.format-image .categories-links,
.format-image .tags-links {
	display: none;
}

/* Link */
.format-link {
	background-color: #f7f5e7;
	padding: 32px;
	margin-bottom: 32px;	
}

.single .format-link {
	background-color: #FFFFFF;
}

.blog .format-link:first-of-type,
.single .format-link:first-of-type {
	box-shadow: inset 0 2px 2px rgba(173, 165, 105, 0.2);
}

.format-link .entry-header,
.format-link .entry-content p:last-child {
	margin-bottom: 0;
}

.format-link .entry-title {
	color: #ca3c08;
	display: inline;
	font: 300 italic 20px "Open Sans", Helvetica, sans-serif;
	margin-right: 20px;
}

.format-link .entry-title a {
	color: #bc360a;
}

.format-link .entry-meta {
	display: inline;
}

/* Quote */
.format-quote {
	background-color: #ececec;
	padding: 32px;
	margin-bottom: 32px;	
}

.single .format-quote {
	background-color: #FFFFFF;
}

.format-quote .entry-content,
.format-quote .entry-meta {
	color: #575757;
}

.format-quote .entry-content blockquote {
	font-size: 28px;
	margin: 0;
}

.format-quote .entry-content a,
.format-quote .entry-meta a,
.format-quote .linked {
	color: #676767;
}

.format-quote .entry-content cite a {
	border-bottom: 1px dotted #fff;
	color: #676767;
}

.format-quote .entry-content cite a:hover {
	text-decoration: none;
}

.format-quote blockquote small,
.format-quote blockquote cite {
	display: block;
	font-size: 16px;
}

.format-quote blockquote {
	font-style: italic;
	font-weight: 300;
	padding-left: 48px;
	position: relative;
}

.format-quote blockquote:before {
	content: '\201C';
	font-size: 140px;
	font-weight: 400;
	line-height: .8;
	padding-right: 25px;
	position: absolute;
	left: -15px;
	top: -3px;
}

.format-quote .entry-meta .author {
	display: none;
}


/* Status */


.format-status {
	background-color: #95C837;
	padding: 32px;
	margin-bottom: 32px;	
}

.single .format-status {
	background-color: #FFFFFF;
}

.format-status .entry-content,
.format-status .entry-meta {
	padding-left: 35px;
	position: relative;
	padding-right: 12px;
}

.format-status .entry-content a {
	color: #eadaa6;
}

.format-status .entry-meta a {
	color: #f7f5e7;
}

.sidebar .format-status .entry-content,
.sidebar .format-status .entry-meta {
	padding-left: 95px;
}

.format-status .entry-content:before,
.format-status .entry-meta:before {
	background: url(images/dotted-line.png) repeat-y left bottom;
	background-size: 4px 4px;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	left: 10px;
	top: 0;
	width: 1px;
}

.sidebar .format-status .entry-content:before,
.sidebar .format-status .entry-meta:before {
	left: 70px;
}

.format-status .categories-links,
.format-status .tags-links {
	display: none;
}

/* Ensures the dots in the dot background are in lockstep. */
.format-status .entry-meta:before {
	background-position: left top;
}

.format-status .entry-content {
	color: #f7f5e7;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	padding-bottom: 30px;
	padding-top: 40px;
	position: relative;
}

.format-status .entry-content p:first-child:before {
	background-color: rgba(0, 0, 0, 0.65);
	content: "";
	height: 3px;
	margin-top: 13px;
	position: absolute;
	left: 4px;
	width: 13px;
}

.sidebar .format-status .entry-content > p:first-child:before {
	left: 64px;
}

.format-status .entry-content p:last-child {
	margin-bottom: 0;
}

.format-status .entry-meta {
	margin-top: 0;
	padding-bottom: 40px;
}

.format-status .entry-meta .date a:before {
	content: "\f105";
}

/* Video */
.format-video {
	background-color: #ececec;
	padding: 32px;
	margin-bottom: 32px;	
}

.single .format-video {
	background-color: #FFFFFF;
}

.format-video .entry-content a,
.format-video .entry-meta a,
.format-video .entry-content a:hover,
.format-video .entry-meta a:hover {
	color: #676767;
}

.format-video .entry-title {
	font-size: 50px;
	font-weight: 400;
}

.format-video .entry-meta {
	color: #220e10;
}


/**
 * 8.6 Attachments
 * ----------------------------------------------------------------------------
 */

.attachment .hentry {
	padding: 32px;
	margin-bottom: 32px;	
}


.attachment .entry-header {
	margin-bottom: 0;
	max-width: 1264px;
	padding: 30px 0;
}

.attachment .entry-title {
	display: inline-block;
	float: left;
	font: 300 italic 30px "Open Sans", Helvetica, sans-serif;
	margin: 0;
}

.attachment .entry-title:before {
	content: "\f416";
	font-size: 32px;
	margin-right: 10px;
}

.attachment .entry-meta {
	clear: none;
	color: inherit;
	float: left;
	max-width: 1264px;
	padding: 9px 0 0;
	text-align: left;
}

.image-attachment .attachment img {
	max-width: 100%!important;
}

.hentry.attachment:not(.image-attachment) .entry-meta {
	max-width: 104px;
}

.attachment footer.entry-meta {
	display: none;
}

.attachment-meta:before {
	content: "\f307";
}

.full-size-link a:before {
	content: "\f402";
}

.full-size-link:before {
	content: none;
}

.attachment .entry-meta a,
.attachment .entry-meta .edit-link:before,
.attachment .full-size-link:before {
	color: #ca3c08;
}

.attachment .entry-content {
	background-color: #fff;
	max-width: 100%;
	padding: 40px 0;
}

.image-navigation {
	margin: 0 auto;
	max-width: 1040px;
	position: relative;
}

.image-navigation a:hover {
	text-decoration: none;
}

.image-navigation .nav-previous,
.image-navigation .nav-next {
	position: absolute;
	top: 50px;
}

.image-navigation .nav-previous {
	left: 0;
}

.image-navigation .nav-next {
	right: 0;
}

.image-navigation .meta-nav {
	font-size: 32px;
	font-weight: 300;
	vertical-align: -4px;
}

.attachment .entry-attachment,
.attachment .type-attachment p {
	margin: 0 auto;
	max-width: 724px;
	text-align: center;
}

.attachment .entry-attachment .attachment {
	display: inline-block;
}

.attachment .entry-caption {
	text-align: left;
}

.attachment .entry-description {
	margin: 20px auto 0;
	max-width: 604px;
}

.attachment .entry-caption p:last-child,
.attachment .entry-description p:last-child {
	margin: 0;
}

.attachment .site-main .sidebar-container {
	display: none;
}


/**
 * 8.7 Post/Paging Navigation
 * ----------------------------------------------------------------------------
 */

.navigation .nav-previous {
	float: left;
}

.navigation .nav-next {
	float: right;
}

.navigation a {
	color: #95C837;
}

.navigation a:hover {
	color: #666;
	text-decoration: none;
}

.paging-navigation {
	padding: 40px 0;
}

.paging-navigation {
	text-align: center;
}

.paging-navigation .nav-links {
}

.paging-navigation .navigation {
}

.paging-navigation .navigation > ul {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.paging-navigation .navigation > ul > li {
	display: inline-block;
	margin: 0px 1px;
	padding: 0px;
}

.paging-navigation #posts-nav > span,
.paging-navigation #posts-nav > a,
.paging-navigation .navigation > ul > li > span,
.paging-navigation .navigation > ul > li a {
	display: inline-block;
	padding: 6px;
	border: 1px solid #e7e7e7;	
	color: #878787;
	text-decoration: none;
	min-width: 24px;
	text-align: center;	
}


.paging-navigation #posts-nav > span:hover,
.paging-navigation #posts-nav > a:hover,
.paging-navigation #posts-nav > span.current,
.paging-navigation #posts-nav > a.current,
.paging-navigation .navigation > ul > li a:hover,
.paging-navigation .navigation > ul > li > span.current,
.paging-navigation .navigation > ul > li.active > a {
	color: #95C837;
	border-color: #95C837;
	text-decoration: none;
}

.post-navigation {
	background-color: #fff;
	font-weight: 400;
	padding: 12px 16px;
	margin: auto 0;
	border: 1px solid #e7e7e7;
	margin-bottom: 48px;
	margin-top: 32px;
}

.post-navigation .nav-links {
	margin: 0 auto;
}

.post-navigation a[rel="next"] {
	float: right;
	text-align: right;
}

nav.navigation .nav-links a,
nav.navigation .nav-links a:visited {
	color: #777777;
}


/**
 * 8.8 Author Bio
 * ----------------------------------------------------------------------------
 */

.author-info {
	margin: 0 auto;
	max-width: 604px;
	padding: 30px 0 10px;
	text-align: left; /* gallery & video post formats */
	width: 100%;
}

.author.sidebar .author-info {
	max-width: 1040px;
	padding: 30px 376px 10px 60px;
}

.single .author-info {
	padding: 50px 0 0;
}

.author-avatar .avatar {
	float: left;
	margin: 0 30px 30px 0;
}

.single-format-status .author-description {
	color: #f7f5e7;
}

.author-description .author-title {
	clear: none;
	font: 300 italic 20px "Open Sans", Helvetica, sans-serif;
	margin: 0 0 8px;
}

.author-link {
	color: #ca3c08;
	margin-left: 2px;
}

.author.archive .author-link {
	display: none;
}


/**
 * 8.9 Archives
 * ----------------------------------------------------------------------------
 */

.archive-header {
}

.archive-title,
.archive-meta {
	font: 400 normal 22px "Open Sans", Helvetica, sans-serif;
	margin: 0 auto;
	padding: 30px 1%;
	width: 98%;
}

.archive-meta {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	margin-top: -15px;
	padding: 0 0 11px;
}

.sidebar .archive-meta {
	padding-right: 316px;
}


/**
 * 8.10 Search Results/No posts
 * ----------------------------------------------------------------------------
 */

.page-header {
	margin: 0px;
	padding: 0px 32px;
}

.page-title {
	font: 400 normal 22px "Open Sans", Helvetica, sans-serif;
	line-height: 32px;
	color: #575757;
}

.page-content {
	margin: 0 auto;
	max-width: 1264px;
	padding: 40px 32px;
	width: 100%;
}

.sidebar .page-content {
	margin: 0 auto;
	max-width: 75%;
}

.sidebar .nosidebar .site-content {
	display: block;
	width: 100%;
}


/**
 * 5.11 404
 * ----------------------------------------------------------------------------
 */

.error404 .page-header {
	background-color: #fff;
}

.error404 .page-title {
	line-height: 0.6;
	margin: 0;
	padding-bottom: 32px;
	padding-top: 360px;
	position: relative;
	text-align: center;
	width: auto;
}

.error404 .page-title:before {
	color: #95C837;
	content: "\f423";
	font-size: 600px;
	line-height: 0.6;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 28px;
	width: 100%;
}

.error404 .page-wrapper {
	width: 100%;
	max-width: 1264px;
	margin: auto;	
}

.error404 .page-header,
.error404 .page-content {
	margin: 0 auto;
	padding-bottom: 40px;
	width: 100%;
	text-align: center;
}


/**
 * 8.12 Comments
 * ----------------------------------------------------------------------------
 */

.comments-title,
.comment-list,
.comment-reply-title,
.must-log-in,
.comment-respond .comment-form,
.comment-respond iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.sidebar .comments-title,
.sidebar .comment-list,
.sidebar .must-log-in,
.sidebar .comment-reply-title,
.sidebar .comment-navigation,
.sidebar .comment-respond .comment-form {
	max-width: 1264px;
}

.comments-title {
	font: 400 20px "Open Sans", Helvetica, sans-serif;
}

.comment-list,
.comment-list .children {
	list-style-type: none;
	padding: 0;
}

.comment-list .children {
	margin-left: 20px;
}

.comment-list > li:after,
.comment-list .children > li:before {
	background: url(images/dotted-line.png) repeat left top;
	background-size: 4px 4px;
	content: "";
	display: block;
	height: 1px;
	width: 100%;
}

.comment-list > li:last-child:after {
	display: none;
}

.comment-body {
	padding: 24px 0;
	position: relative;
}

.comment-author {
	float: left;
	max-width: 74px;
}

.comment-author .avatar {
	display: block;
	margin-bottom: 10px;
}

.comment-author .fn {
	word-wrap: break-word;
}

.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login {
	color: #95C837;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.says {
	display: none;
}

.no-avatars .comment-author {
	margin: 0 0 5px;
	max-width: 100%;
	position: relative;
}

.no-avatars .comment-metadata,
.no-avatars .comment-content,
.no-avatars .comment-list .reply {
	width: 100%;
}

.bypostauthor > .comment-body .fn:before {
	content: "\f408";
	vertical-align: text-top;
}

.comment-list .edit-link {
	margin-left: 20px;
}

.comment-metadata,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply {
	float: right;
	width: 79%;
	width: -webkit-calc(100% - 124px);
	width:         calc(100% - 124px);
	word-wrap: break-word;
}

.comment-body a,
.comment-meta,
.comment-meta a {
	color: #95C837;
}

.comment-body a:hover,
.comment-meta a:hover {
	color: #333;
	text-decoration: none;
}

.comment-metadata {
	margin-bottom: 6px;
}

.comment-metadata a,
.comment-metadata a:visited {
	color: #999;
}

.ping-meta {
	color: #a2a2a2;
	font-size: 13px;
	line-height: 2;
}

.comment-awaiting-moderation {
	color: #a2a2a2;
}

.comment-awaiting-moderation:before {
	content: "\f414";
	margin-right: 5px;
	position: relative;
	top: -2px;
}

.comment-reply-link:before,
.comment-reply-login:before {
	content: "\f412";
	margin-right: 3px;
}

/* Comment form */
.comment-respond {
	background-color: #f5f5f5;
	padding: 30px 32px;
}

.comment .comment-respond {
	margin-bottom: 20px;
	padding: 20px;
}

.comment-reply-title {
	font: 400 normal 20px "Source Sans Pro", Helvetica, sans-serif;
}

.comment-reply-title small a {
	color: #131310;
	display: inline-block;
	float: right;
	height: 16px;
	overflow: hidden;
	width: 16px;
}

.comment-reply-title small a:hover {
	color: #ed331c;
	text-decoration: none;
}

.comment-reply-title small a:before {
	content: "\f406";
	vertical-align: top;
}

.sidebar .comment-list .comment-reply-title,
.sidebar .comment-list .comment-respond .comment-form {
	padding: 0;
}

.comment-form .comment-notes {
	margin-bottom: 15px;
}

.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url {
	margin-bottom: 8px;
}

.comment-form [for="author"],
.comment-form [for="email"],
.comment-form [for="url"],
.comment-form [for="comment"] {
	float: left;
	padding: 5px 0;
	width: 120px;
}

.comment-form .required {
	color: #ed331c;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
	max-width: 270px;
	width: 60%;
}

.comment-form textarea {
	width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
	color: #686758;
	font-size: 12px;
}

.form-allowed-tags code {
	font-size: 10px;
	margin-left: 3px;
}

.comment-list .pingback,
.comment-list .trackback {
	padding-top: 24px;
}

.comment-navigation {
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0 auto;
	max-width: 604px;
	padding: 20px 0 30px;
	width: 100%;
}

.no-comments {
	background-color: #f7f5e7;
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	margin: 0;
	padding: 40px 0;
	text-align: center;
}

.sidebar .no-comments {
	padding-left: 60px;
	padding-right: 376px;
}


/**
 * 5.13 Multisite
 * ----------------------------------------------------------------------------
 */

.site-main .mu_register {
	margin: 0 auto;
	max-width: 604px;
	width: 100%;
}

.mu_alert {
	margin-top: 25px;
}

.site-main .mu_register input[type="submit"],
.site-main .mu_register #blog_title,
.site-main .mu_register #user_email,
.site-main .mu_register #blogname,
.site-main .mu_register #user_name {
	font-size: inherit;
	width: 270px;
}

.site-main .mu_register input[type="submit"] {
	width: auto;
}


/**
 * 9.0 Sidebar
 * ----------------------------------------------------------------------------
 */

.site-main .widget-area {
	display: block;
	width: 100%;
	position: relative;
}


/**
 * 9.1 Widgets
 * ----------------------------------------------------------------------------
 */

.widget {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	margin: 0px;
	padding: 20px 0px;
	padding-top: 6px;
	word-wrap: break-word;
}

.widget .widget-title {
	font: 400 normal 22px "Roboto", Helvetica, sans-serif;
	border-bottom: 1px solid #ccc;
	padding-bottom: 6px;
	margin-bottom: 12px;
}

#tertiary .sidebar-inner h3.widget-title {
	margin-top: 0px;
	padding-top: 0px;
}

#tertiary .sidebar-inner .widget {
	padding-top: 0px;
	padding-bottom: 32px;
}

.widget ul,
.widget ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.widget li {
	padding: 12px 0px;
	border-bottom: 1px solid #e7e7e7;
	vertical-align: middle;
}

.widget .menu li:before,
.widget_pages li:before,
.widget_meta li:before {
	content: '\f501';
	display: inline-block;
	width: 12px;
	height: 24px;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	line-height: 24px;
	font-family: 'Genericons';
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	color: #95C837;
	color: #999;
}

.widget .children li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.widget li > ul,
.widget li > ol {
	margin-left: 20px;
}

.widget li {
	color: #999;
}

.widget a {
	color: #575757;
}

.widget a:hover {
	color: #95C837;
	text-decoration: none;
}

/* Search widget */
.search-form .search-submit {
	display: none;
}

/* RSS Widget */
.widget_rss .rss-date {
	display: block;
}

.widget_rss .rss-date,
.widget_rss li > cite {
	color: #a2a2a2;
}

/* Calendar Widget */
.widget_calendar table,
.widget_calendar td {
	border: 0;
	border-collapse: separate;
	border-spacing: 1px;
}

.widget_calendar caption {
	font-size: 14px;
	margin: 0;
}

.widget_calendar th,
.widget_calendar td {
	padding: 0;
	text-align: center;
}

.widget_calendar a {
	display: block;
}

.widget_calendar a:hover {
	background-color: #95C837;
	color: #FFFFFF;
}

.widget_calendar tbody td {
	background-color: rgba(232, 232, 232, 0.5);
}

.widget_calendar thead th {
	background-color: #d7d7d7;
	color: #000;
}

.widget_calendar td#next a,
.widget_calendar td#prev a {
	background-color: rgba(232, 232, 232, 0.5);
}

.widget_calendar td#next a:hover,
.widget_calendar td#prev a:hover {
	background-color: #95C837;
}

.site-footer .widget_calendar tbody td {
	background-color: rgba(255, 255, 255, 0.05);
}

.widget_calendar tbody .pad, .site-footer .widget_calendar tbody .pad {
	background-color: transparent;
}

.widget ul.product-categories li ul {
	margin: 0px;
	padding: 0px;
}

.widget ul.product-categories li ul.children li {
	padding-left: 12px;
	font-weight: 300px;
}

.widget ul.product-categories li ul.children li:first-child {
}

.widget ul.product-categories li ul.children li a {
	font-weight: 300px;
}


/**
 * 7.0 Footer
 * ----------------------------------------------------------------------------
 */

.site-footer {
	background-color: #272727;
	color: #777777;
	text-align: center;
}

.site-footer .widget-area,
.sidebar .site-footer {
	text-align: left;
}

.site-footer a {
	color: #686758;
}

.site-footer .site-info a {
	color: #878787;
	font-size: 12px;
}

.site-footer .sidebar-container {
	background-color: #383838;
	padding: 20px 0;
	clear: both;
}

.site-footer .widget {
	background: transparent;
	color: #fff;
	float: left;
}

.footer-bg {
	display: block;
	clear: both;
	background-color: #383838;
}

.site-footer .sidebar-container {
}

.site-footer .widget-wrap {
	margin: 0 auto;
	max-width: 1264px;
	padding-left: 32px;
	padding-right: 32px;	
}

.site-footer .widget-area {
	margin: 0 auto;
	position: relative;
	width: calc(100% + 32px);
	margin-left: -16px;
	margin-right: -16px;
}
.site-footer .widget-area .widget {
	display: block;
	float: left;
	margin: 0px;
	margin-bottom: 1px;
	width: 25%;
	padding: 0 16px;
	position: relative;
}

.site-footer .widget-area .widget ul li {
	border-bottom: 1px solid #575757;
	padding: 8px 0px;
}

.site-footer .widget-area .widget a {
	color: #c7c7c7;
}

.site-footer .widget-area .widget a:hover {
	color: #95C837;
}

.site-footer .widget-area .widget .widget-title {
	border-bottom: 1px solid #676767;
	margin-bottom: 0px;
}

.site-footer .widget-area .widget_calendar a {
	background-color: #272727;
}

.site-footer .widget-area .widget_calendar a:hover {
	background-color: #95C837;
	color: #ffffff;
}

.widget_calendar thead th {
	background-color: #d7d7d7;
	color: #000000;
}

.site-footer .widget-area .widget input, 
.site-footer .widget-area .widget textarea {
	background-color: #343434;
	border: 1px solid #222222;
	color: #C7C7C7;
}


.site-footer .widget a {
	color: #e6402a;
}

.site-footer .widget-title,
.site-footer .widget-title a,
.site-footer .wp-caption-text {
	color: #fff;
}

.site-info {
	margin: 0 auto;
	max-width: 1264px;
	padding: 30px 0;
	width: 100%;
	text-align: left;
}

.site-footer .site-info {
	padding: 30px 32px;
	width: 100%;
	font-size: 12px;
}

.site-footer form.search-form input.search-field {
	margin-top: 16px;
	width: 100%;
}

#wpstats {
	display: block;
	margin: -10px auto 0;
}

.site-footer .credit-info {
	display: inline-block;
	width: 49.5%;
	text-align: right;
}

.site-footer .copyright {
	text-align: left;
	display: inline-block;
	width: 49.5%;
}

.tx-post-row .tx-folio-title,
.tx-blog .tx-blog-item .tx-post-title {
	font-size: 20px!important;
}

.tx-cta,
.tx-testimonials {
  background-color: #e7e7e7!important;
}

/**
 * 11.0 others - go to top
 * ----------------------------------------------------------------------------
 */

.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 16px;
    padding: 0px;
    display: none;
	z-index: 999999;
	height: 48px;
	width: 48px;
	border-radius: 3px;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
	text-decoration: none;	
}

.go-top span {
	height: 48px;
	width: 48px;	
	font-size: 32px;
	color: #dfdfdf;
	line-height: 32px;
	text-align: center;
	line-height: 44px;
}

.go-top span:before {
	font-size: 32px;
}

.go-top:hover span {
	text-decoration: none;
}

/**
*
* woocommerce compitability
*/

.sidebar .content-area {
}

.site-content {
	width: 100%;
}

.sidebar .site-content {
	display: block;
	float: left;
	width: 75%;
}

.sidebar .nosidebar .site-content {
	display: block;
	width: 100%;
}

.sidebar #container-1:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}



/**
*
* header fix
*/


.site-header .home-link {
	max-width: 560px;
}


.headerwrap .navbar {
    float: right;
    margin-right: 32px;
}

.topsearch {
	display: block;
	float: right;
	min-width: 32px;
	height: 48px;
	padding-top: 26px;
	position: relative;
}

.site-header.fixeddiv .topsearch {
	padding-top: 0px;
	margin-top: 0px;
	top: auto;
}

.site-header .search-form {
	position: relative;
	right: auto;
	bottom: auto;
}

.site-header .headerinnerwrap .search-form {
	top: auto;
	bottom: auto;	
}

.site-header.fixeddiv .headerinnerwrap .search-form {
	margin-top: -4px;
}

.site-header.fixeddiv .search-form .search-field {
	margin-top: 0px;
}

.ibanner .da-img {
	overflow: hidden;
}

.ibanner .da-img img {
	max-height: 100%;
}

.socialicons ul.social li a .socico:before {
	font-size: 12px;
	line-height: 20px;
}


.nx-boxed .site { 
	max-width: 1200px; 
}

/*
*	Contact Form 7
*/

.wpcf7 input[type="text"],
.wpcf7 input[type="number"],
.wpcf7 input[type="email"],
.wpcf7 input[type="text"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="url"],
.wpcf7 textarea {
	width: 100%;
	padding: 8px 4px;
}


/**
 * 12.0 WooCommerce
 * ----------------------------------------------------------------------------
 */

.header-iconwrap {
	display: block;
	float: left;
	padding-right: 32px;
}

.header-icons.woocart {
	position: relative;
}

.header-icons.woocart > a {
	display: block;
	padding-top: 38px;
	padding-bottom: 38px;
	line-height: 1;
	position: relative;
}

.fixeddiv .header-icons.woocart > a {
	padding-top: 24px;
	padding-bottom: 24px;
}

/* Show in mobile */
.header-icons.woocart .show-sidr {
	display: none;
}

.header-icons.woocart > div.cartdrop.widget_shopping_cart.nx-animate > div.widget_shopping_cart_content {}

.header-icons.woocart .cartdrop.widget_shopping_cart.nx-animate {
	display: block;
	position: absolute;
	right: 0px;
	top: 88px;
	border: 1px solid #CCC;
	padding: 16px;
	width: 280px;
	height: auto;
	background-color: #FFF;
	visibility: hidden;
	
	border: 1px solid #e7e7e7;
	border-top: 2px solid #95C837; /* variable color */
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	opacity: 0px;	
}

.fixeddiv .header-icons.woocart .cartdrop.widget_shopping_cart.nx-animate {
	top: 60px;
	opacity: 1;
}

.header-icons.woocart:hover .cartdrop.widget_shopping_cart.nx-animate {
	visibility: visible;
}


.woocommerce ul.products li.product-category h3 > mark.count {
	display: none;
}

.tx-prod-carousel .woocommerce ul.products {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	width: calc( 100% + 32px );
	margin-left: -16px;
	margin-right: -16px;
}

.tx-prod-carousel .woocommerce ul.products li.product, 
.tx-prod-carousel .woocommerce-page ul.products li.product {
	box-sizing: border-box;
	width: 100%;
	padding-right: 16px;
	padding-left: 16px;
}


.tx-prod-carousel .owl-carousel .owl-controls .owl-buttons .owl-prev span.genericon {}
.tx-prod-carousel .owl-carousel .owl-controls .owl-buttons .owl-next span.genericon {}


.tx-prod-carousel .owl-carousel .owl-controls .owl-buttons .owl-prev,
.tx-prod-carousel .owl-carousel .owl-controls .owl-buttons .owl-next {
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	position: absolute;
	left: 0px;
	top: 50%;
	visibility: hidden;
	opacity: 0;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;	
}

.tx-prod-carousel .owl-carousel .owl-controls .owl-buttons .owl-prev span,
.tx-prod-carousel .owl-carousel .owl-controls .owl-buttons .owl-next span{
	padding: 0px;
	margin: 0px;
	line-height: 32px;
}

.tx-prod-carousel .owl-carousel .owl-controls .owl-buttons .owl-prev {
	left: auto;
	right: 16px;
	top: 50%;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	padding-right: 12px;
}

.tx-prod-carousel .owl-carousel .owl-controls .owl-buttons .owl-next {
	left: 16px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	padding-left: 12px;
}

.tx-prod-carousel .owl-carousel:hover .owl-controls .owl-buttons .owl-prev,
.tx-prod-carousel .owl-carousel:hover .owl-controls .owl-buttons .owl-next{
	visibility: visible;
	opacity: 1;
}

.woocommerce .products .product {
	position: relative;
}

.woocommerce .products .product .star-rating {
	position: absolute;
	z-index: 101;
	left: 12px;
	top: 12px; 
}

.nxowoo-box {
	display: block;
	position: relative;
}



.woocommerce-ordering select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:3px;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .woocommerce-ordering {padding-right:18px}
}

.woocommerce-ordering {position:relative}
.woocommerce-ordering:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
.woocommerce-ordering:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

.product .summary.entry-summary > form.cart > button {
	border: 1px solid #999;
	background-color: #FFF;
}

.product .summary.entry-summary > form.cart > button:hover {
	border: 1px solid #555;
	background-color: #555;
}

.woocommerce .site-main .site-content .product .related.products ul.products li {
	display: block;
	width: 100%;
	margin: 0px;
	padding: 0px;
	padding: 16px;
}

.related.products {
	position: relative;
	width: 100%;
	width: calc(100% + 32px);
	margin-left: -16px;
	margin-right: -16px;
}

.related.products > h2 {
	padding-left: 16px;
	padding-right: 16px;
}

.header-iconwrap .header-icons.woocart {
	position: relative;
}

.header-iconwrap .header-icons.woocart > a {
	color: #373737;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;	
}

.header-iconwrap .header-icons.woocart > a:hover {
	color: #95C837;
	text-decoration: none;
}

.header-iconwrap .header-icons.woocart > a .cart-counts {
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	position: absolute;
	left: 16px;
	top: 50%;
	margin-top: -20px;
	background-color: #95C837;
	color: #FFF;
	border-radius: 10px;
	font-size: 12px;
	z-index: 3002;
}

.navbar .widget_shopping_cart_content {}

.navbar .widget_shopping_cart_content ul.cart_list {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.navbar .widget_shopping_cart_content ul.cart_list li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;	
	display: block;
	width: 100%;
	border-bottom: 1px solid #eee;
	padding-bottom: 4px;
	padding-top: 4px;
}

.navbar .widget_shopping_cart_content ul.cart_list li a {
	text-decoration: none;
	font-weight: 700;
	color: #777777;
}

.navbar .widget_shopping_cart_content ul.cart_list li a img {
	display: block;
	float: right;
	width: 44px;
}

.navbar .widget_shopping_cart_content ul.cart_list li span.quantity {
	color: #999;
	font-size: 12px;
	display: block;
	width: 50%;
	margin-left: 0px;
}

.navbar .widget_shopping_cart_content > p.buttons > a.button.wc-forward {
	padding: 6px 10px;
	border: 1px solid #c8bfc6;
	color: #5e5e5e;
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;	
}

.navbar .widget_shopping_cart_content > p.buttons > a.button.wc-forward:hover {
	color: #FFF;
	background-color: #555;
}

.woocommerce .products .product-category a > h3 {
	border: 1px solid #c8bfc6;
	padding: 6px 12px;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;		
}

.woocommerce .products .product-category:hover a > h3 {
	border: 1px solid #555;
	background-color: #555;
	color: #fff;
}

.woocommerce-tabs ul.tabs li > a {
	padding: 6px 16px;
}

.woocommerce h2 {
	font-weight: 500;
	font-size: 24px;
}

/**
 * 12.0 Media Queries
 * ----------------------------------------------------------------------------
 */

@media (max-width: 1599px) {
	.site {
		border: 0;
	}
	
	.site-content .blog-columns .post .meta-img {
		display: block;
		float: left;
		width: 50%;
		margin-top: 8px;
	}
	
	.site-content .post .post-mainpart {
		display: block;
		float: left;
		width: 50%;
	}
	/*
	.site-content .blog-columns .post .meta-img.no-image-meta {
		display: none;
	}
	*/
}

@media (min-width: 1070px) {
	
	.site-content .entry-thumbnail .stickyonimg, 
	.site-content .entry-thumbnail .dateonimg,
	.site-content .entry-nothumb .stickyonimg,
	.site-content .entry-nothumb .dateonimg {
		position: absolute;
		width: 64px;
		height: 64px;
	}
	
	.site-content .dateonimg span.pdate {
		font-size: 33px;
		line-height: 1.2;
	}	
		
	.site-content .post .meta-img.no-image-meta {
		display: block;
	}
	
	.meta-img.no-image-meta {
		display: block;
	}
	
	.site-content .dateonimg span.pmonth {
		position: relative;
		background-color: #e7e7e7;
		color: #575757;
	}

	.site-content .meta-img.no-image-meta .entry-nothumb .stickyonimg,
	.site-content .meta-img.no-image-meta .entry-nothumb .dateonimg {
		left: 0%;
		top: 0px;
	}
	
	.blog-columns .entry-header {}
	
	.site-content .post .meta-img.no-image-meta+.post-mainpart .entry-header {
		/* width: calc(100% - 96px); */
		padding-left: 80px;
	}
	.site-content .entry-thumbnail .stickyonimg,
	.site-content .entry-thumbnail .dateonimg {
		left: 32px;
	}
	
	.site-content .entry-nothumb .stickyonimg,
	.site-content .entry-nothumb .dateonimg {
		left: 32px;
	}
	
}

@media (max-width: 1069px) {
	
	/* Small menu */
	.menu-toggle {
		cursor: pointer;
		display: block;
		position: fixed;
		left: 0px;
		top: 140px;
		padding: 12px 12px 12px 12px;
		font-size: 16px;
		font-weight: 400;
		color: #FFF;
		
		-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.64);
		-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.64);
		box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.64);
		-webkit-border-top-right-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		-moz-border-radius-bottomright: 3px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;		
		background-color: rgba(40,40,40,0.8)
				
	}

	.menu-toggle:after {
		content: "\f419";
		font-size: 18px;
		padding-left: 8px;
		font-weight: 700;
	}

	.toggled-on .menu-toggle:after {
		content: "\f500";
		vertical-align: 2px;
	}	

	.toggled-on .nav-container,
	.toggled-on .nav-container > ul {
		display: none;
	}

	ul.nav-container,
	.nav-container > ul {
		display: none;
	}
	
	.archive .site-content .post .meta-img,
	.search-results .site-content .post .meta-img,
	.site-content .blog-columns .post .meta-img {
		display: block;
		float: nonr;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	
	.site-content .blog-columns .post .meta-img img {
		width: 100%;
	}	
	
	.archive .site-content .post .meta-img,
	.archive .site-content .post .post-mainpart,
	.search-results .site-content .post .meta-img,
	.search-results .site-content .post .post-mainpart,
	.site-content .blog-columns .post .post-mainpart {
		display: block;
		float: none;
		width: 100%;
	}
	
	.site-content .entry-nothumb .stickyonimg,
	.site-content .entry-nothumb .dateonimg,
	.archive .entry-nothumb .noimg-bg,
	.search-results .entry-nothumb .noimg-bg  {
		display: none;
	}
	
}

@media (max-width: 999px) {

	#ft-post article {
		display: block;
		float: left;
		width: 50%;
	}
	
	.site-content .blog-columns .post .meta-img {
		display: block;
		float: none;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	
	.site-content .blog-columns .post .post-mainpart {
		display: block;
		float: none;
		width: 100%;
	}
	
	.site-footer .widget-area {
		width: 100%;
		   
	}
	.site-footer .widget-area .widget {
		/* Just in case there are inline attributes */
		display: block;
		float: left;
		width: 48%;
		margin: 0px;
		margin-bottom: 1px;
		padding: 0 16px;
	}
	
	.ibanner .da-slider h2 {
		font-size: 24px;
		max-width: 80%;
	}

	.ibanner .da-slider p {
		max-width: 80%;
	}

	.ibanner .da-slider .da-link {
		padding: 12px 32px;
	}

	
	.nx-slider-container {
		padding-top: 16px;
	}
	
	.iheader {
		padding-top: 32px;
		padding-bottom: 32px;
	}
	.iheader h1 {
		font-size: 24px;
		line-height: 32px;
		padding-bottom: 12px;
		display: block;
		float: none;
	}
	
	.iheader .nx-breadcrumb {
		float: none;
		text-align: left;
		line-height: 18px;
		display: none;
	}

	.site .iheader {
		overflow: hidden;
		height: auto;
		clear: both;
	}
	
	.site .iheader:after {
		height: 1px;
		clear: both;
		content: "";
	}
	
	.utilitybar {
		height: auto!important;
	}
	.utilitybar:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
}

/* Collapse oversized image and pulled images after iPad breakpoint. */
@media (max-width: 767px) {
	
	.sidebar .site-content {
		width: 65%;
	}	

	.site-main .sidebar-container {
		width: 35%;
	}
	
	.site-content .blog-columns .post .meta-img {
		display: block;
		float: none;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
	
	.site-content .blog-columns .post .post-mainpart {
		display: block;
		float: none;
		width: 100%;
	}
	
	.site-content .post .meta-img .entry-thumbnail {
	  	padding-right: 0%;
	  	padding-left: 0%;
	}
	
	.site-content .post .meta-img .entry-nothumb {
		display: none;
	}
	
	.site-content .post .meta-img.no-image-meta+.post-mainpart {
		width: 84%;
		padding-left: 0%;
	}
	
	.site-footer .credit-info {
		width: 100%;
		text-align: left;
	}
	
	.site-footer .copyright {
		text-align: left;
		width: 100%;
	}
	
	.ibanner .da-slider h2 {
		font-size: 18px;
		max-width: 100%;
	}

	.ibanner .da-slider p {
		max-width: 100%;
		font-size: 12px;
	}

	.ibanner .da-slider .da-link {
		padding: 8px 32px;
	}

	.nx-slider-container {
		padding: 56px;
	}
	
	.nx-slider-container {
		padding-top: 0px;
	}
	
}

@media (max-width: 580px) {
	
	#ft-post article {
		display: block;
		float: none;
		width: 100%;
	}
	
	.sidebar .site-content {
		width: 100%;
	}	

	.site-main .sidebar-container {
		width: 100%;
	}
	
	.site-main .sidebar-inner {
		padding: 0px;
	}

	.site-footer .widget-area {
		width: 100%;
		   
	}
	.site-footer .widget-area .widget {
		/* Just in case there are inline attributes */
		display: block;
		float: none;
		margin-bottom: 1px;
		width: 100%;
		padding: 0 16px 0 16px;
	}
	
	.ibanner .da-slider h2 {
		display: block;
		float: left;
		clear: both;
		margin-right: 16px;
	}

	.ibanner .da-slider h2:after {
		display: table;
		clear: both;
		content: " ";
	}	

	.ibanner .da-slider p {
		display: none;
	}

	.ibanner .da-slider .da-link {
		display: block;
		float: left;
		clear: both;
	}
	.ibanner .da-slider .da-link:after {
		display: table;
		clear: both;
		content: " ";
	}		
}

@media (max-width: 480px) {
	.site-title {
		font-size: 30px;
	}

	#ft-post {
	   /**/ 
		-moz-column-count: 1;
		-moz-column-gap: 0px;
		-webkit-column-count: 1;
		-webkit-column-gap: 0px;
		column-count: 1;
		column-gap: 0px;
		width: 100%;   
	   
	}
	#ft-post article {
	  /* Just in case there are inline attributes */
		display: inline-block; /* Display inline-block, and absolutely NO FLOATS! */
		margin-bottom: 1px;
		width: 100%
	}
}

/* Mobile devices */
@media (max-width: 359px) {
	.gallery {
		margin-left: 0;
	}

	.gallery .gallery-item,
	.gallery-columns-2.gallery-size-thumbnail .gallery-item {
		max-width: none;
		width: 49%;
		width: -webkit-calc(50% - 4px);
		width:         calc(50% - 4px);
	}

	.gallery-columns-1.gallery-size-medium,
	.gallery-columns-1.gallery-size-thumbnail,
	.gallery-columns-2.gallery-size-thumbnail,
	.gallery-columns-3.gallery-size-thumbnail {
		display: block;
	}

	.gallery-columns-1 .gallery-item,
	.gallery-columns-1.gallery-size-medium .gallery-item,
	.gallery-columns-1.gallery-size-thumbnail .gallery-item {
		text-align: center;
		width: 98%;
		width: -webkit-calc(100% - 4px);
		width:         calc(100% - 4px);
	}

	.gallery-columns-3 .gallery-item:nth-of-type(3n),
	.gallery-columns-5 .gallery-item:nth-of-type(5n),
	.gallery-columns-7 .gallery-item:nth-of-type(7n),
	.gallery-columns-9 .gallery-item:nth-of-type(9n) {
		margin-right: 4px;
	}

	.gallery br {
		display: none;
	}

	.gallery .gallery-item:nth-of-type(even) {
		margin-right: 0;
	}

	/* Comments */
	.comment-author {
		margin: 0 0 5px;
		max-width: 100%;
	}

	.comment-author .avatar {
		display: inline;
		margin: 0 5px 0 0;
		max-width: 20px;
	}

	.comment-metadata,
	.comment-content,
	.comment-list .reply {
		width: 100%;
	}
}


/**
 * 13.0 Print
 * ----------------------------------------------------------------------------
 */

/* Retina-specific styles. */
@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {

}

@media print {
	body {
		background: none !important;
		color: #000;
		font-size: 10pt;
	}

	footer a[rel="bookmark"]:link:after,
	footer a[rel="bookmark"]:visited:after {
		content: " [" attr(href) "] "; /* Show URLs */
	}

	.site {
		max-width: 98%;
	}

	.site-header {
		background-image: none !important;
	}

	.site-header .home-link {
		max-width: none;
		min-height: 0;
	}

	.site-title {
		color: #000;
		font-size: 21pt;
	}

	.site-description {
		font-size: 10pt;
	}

	.author-avatar,
	.site-footer,
	.comment-respond,
	.comments-area .comment-edit-link,
	.comments-area .reply,
	.comments-link,
	.entry-meta .edit-link,
	.page-links,
	.site-content nav,
	.widget-area,
	.main-navigation,
	.navbar,
	.more-link {
		display: none;
	}

	.entry-header,
	.entry-content,
	.entry-summary,
	.entry-meta {
		margin: 0;
		width: 100%;
	}

	.page-title,
	.entry-title {
		font-size: 21pt;
	}

	.entry-meta,
	.entry-meta a {
		color: #444;
		font-size: 10pt;
	}

	.entry-content img.alignleft,
	.entry-content .wp-caption.alignleft {
		margin-left: 0;
	}

	.entry-content img.alignright,
	.entry-content .wp-caption.alignright {
		margin-right: 0;
	}

	.format-image .entry-content .size-full {
		margin: 0;
	}

	/* Remove colors from post formats */
	.hentry {
		background-color: #fff;
	}

	/* Comments */
	.comments-area > li.comment {
		background: none;
		position: relative;
		width: auto;
	}

	.comment-metadata {
		float: none;
	}

	.comment-author .fn,
	.comment-reply-link,
	.comment-reply-login {
		color: #333;
	}
}


.site
{
  	position:relative;
	border-left: 0px solid #CCC;
	border-right: 0px solid #CCC;
}

.site:before, 
.site:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.1);
    -moz-box-shadow:0 0 4px rgba(0,0,0,0.1);
    box-shadow:0 0 4px rgba(0,0,0,0.1);
    top:0px;
    bottom:0px;
    left:0;
    right:0;
    -moz-border-radius:100px / 2px;
    border-radius:100px / 2px;
} 
/**/